{{#if showText}}
Learning to code Ember. Stars are the number 1 seed.
Wild won't be pimping like parise!
{{/if}}<br>
<button {{action 'toggleText'}}>{{if showText 'Hide Text' 'Show Text'}}</button>
{{yield}}
